.heading-parent{
    height: 75px;
    background-color: white;
    /* transition: all 3s ease 4s; */
    scroll-behavior: smooth;
}
.fix-header{
    position: fixed;
    height: 55px !important;
    /* border-bottom: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 19px 0px;
}


@media only screen and (max-width: 600px) {
    .heading-parent{
        height: 70px;
    }
    .logo-for-mobile{
        height: 55px;
        width: 150px;
    }
    .logo-for-mobile-reset{
        height: 50px;
        width: 145px;
    }
    .menu-bars-div{
        float: right;
    }
    .menu-bar-icon{
        font-size: 24px;
    }
    .ccc{
    transition-property:all; transition-duration:1s;
    }
  }